/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.banner {
    background-image: url('../images/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}

.banner-title1 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}

.banner-title2 {
    color: #FFF;
    text-align: center;

    font-size: 72px;
    font-style: normal;
    font-weight: 900;
}

.header-2 {
    text-align: center;
}

.off {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}

.holiday {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    /* margin-top: 48px;
padding-top: 48px; */
}

.categories {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0%;
    padding-top: 0%;
}

.happy-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.main-image {
    width: 54px;
    height: 66px;
    flex-shrink: 0;
}
/* details poster related styles */
.details {
    text-align: center;
    background-color: #f1b3b3;       
    width: 1100px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 10px;
    margin-left:auto ;
    margin-right : auto ;
    margin-top: 20px;
    padding-top: 160px;
}
.pl1 {
    color: #F00;
}
.join-now {
    margin-top: 10px;
    padding: 10px;
    border: 10px;
    border-radius: 10px;
    background-color:red;
    color: white;
}
.offer {
    display: flex;
    text-align: center;
    gap: 30px;
    margin-left: 425px;
    margin-top: 100px;
   }
   .new{
    float: left;
    text-align: left;    
   }
   .best {
    color: #F00;
   }
   .round-image {
    border: 2px;    
    border-radius: 50%;
   }   
   .year {
    color: #F00;
   }
   .xyz {
    text-align: left;
   }
   /* holiday sale section */

#red {
    color: #F00;
}
.section-title{
text-align: center;
margin-bottom: 0px;
}
.holiday-section {
    text-align: center;
}
.holiday-image{
    background-image: url('../images/Rectangle\ 2.png'), url('../images/Rectangle\ 1.png') ;
    background-repeat: no-repeat;
    background-position: bottom , top right;
      margin-right: 400px;
}
/* gift section styles */
.gift {
    text-align: left;
    margin-left: 60px;
}

   

