/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.banner {
    background-image: url('../images/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;

}

.banner-title1 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}

.banner-title2 {
    color: #FFF;
    text-align: center;

    font-size: 72px;
    font-style: normal;
    font-weight: 900;
}

.header-2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*  banner related styles */
.poster {
    display: flex;
    text-align: center;
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 180px;
}

.banner-content {
    color: #FFF;
    max-width: 500px;
    text-align: left;
    margin-top: 60px;
    margin-left: 80px;
}

.banner-title {

    font-size: 50px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
}



.poster {
    width: 1320px;
    height: 470px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.text-on-image {
    color: #070211;
    text-align: left;
    justify-content: left;
    margin-left: 1000px;
}

.hard-image {
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 350px;
    width: 300px;
    height: 464.662px;
    flex-shrink: 0;
    position: top right;
}

.welcome {
    color: #FFF;
    text-align: left;
    margin-top: 50px;
    margin-left: 350px;
}

.dolor {
    color: #FFF;
    margin-left: 350px;
    text-align: left;
}

.join {
    color: #FFF;
    text-align: left;
    margin-top: 40px;
    margin-left: 380px;
}

.off {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}

.holiday {
    color: #F00;
    font-size: 24px;
    font-weight: 500;

}

.categories {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0%;
    padding-top: 0%;
}

.happy-image {
    display: block;
    text-align: center;
    margin-left: 500px;
    width: 50%;
}

.main-image {
    width: 54px;
    height: 66px;
    flex-shrink: 0;
}

/* details poster related styles */
.details {
    text-align: center;
    background-color: #f1b3b3;
    width: 1320px;
    height: 470px;
    flex-shrink: 0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 40px;
}

.place,
.date,
.time {
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    padding: 10px;
}

.pl1 {
    color: #F00;
}

.join-now {
    margin-top: 10px;
    padding: 10px;
    border: 10px;
    border-radius: 10px;
    background-color: red;
    color: white;
}

/* round image section related style */
.offer {
    background-color: #FFF;
    display: flex;
    text-align: center;
    gap: 180px;
    margin-left: auto;
    margin-right: auto;
    width: 1320px;
    height: 470px;
    border-radius: 50px;

}

.new {
    float: left;
    text-align: left;
}

.best {
    color: #F00;
}

.round-image {
    border: 5px solid red;
    border-radius: 50%;
    padding: 10px;
}

.year {
    color: #F00;
}

.xyz {
    text-align: left;
}

/* holiday sale section */

.holiday-image {
    background-image: url('../images/Rectangle 2.png');
    background-repeat: no-repeat;
    position: bottom left;
    width: 1600px;
    height: 0px;
    background-color: #FFF;
}
.holiday-section{
    grid-area: 0px;
}

.girl {
    position: relative;
    top: 990px;
    left: 450px;
}

.box {
    position: relative;
    top: 500px;
    right: 400px;
}

.discount {
    position: relative;
    bottom: 10px;
    left: 200px;

}

.xxx {
    text-align: center;
    padding: 0px;

}

.holiday section {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 0px;

}

#red {
    color: #F00;
}

.container {
    text-align: center;

}





/* gift section styles */
.gift {
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;

    width: 1320px;
    height: 470px;
    border-radius: 50px;
}

.bt {
    color: #F00;
}

.best-gift {
    text-align: left;
    margin-left: 60px;
}

.products {
    text-align: center;
}

/* subscribe section style */
.subscribe {
    text-align: center;

    background: rgba(255, 0, 0, 0.05);
    margin-left: auto;
    margin-right: auto;

    width: 1320px;
    height: 616px;
    border-radius: 16px;
    margin-top: 700px;
}

.p-color {
    color: rgba(7, 2, 17, 0.60);
}

.subscribe-btn {
    text-align: left;
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
}

/* footer related style */
.footer-info {
    color: #FFF;
    display: flex;
    background-color: #070211;
    margin-top: 100px;
    height: 609px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0px;
    margin-bottom: 0px;
}

.address {
    font-weight: 500;
    line-height: 40px;
}

.social-links {
    text-align: center;
    background-color: #070211;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer-summery {
    display: flex;
    background-color: #070211;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    padding-bottom: 20px;
}

.line {
    width: 1320px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.15);
}

.ft-info {
    background-color: #070211;
    width: 1600px;
    height: 609px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;


}